@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ViewDetails";
} 

@using EntryTime.ViewModels

@model EntryBreak 

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card my-3 p-2">
                <div class="card-header">
                    <h3 class="mb-0">Details</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" asp-for="Date">Date</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="date" asp-for="Date" readonly>
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" asp-for="InTime">In-Time</label>
                            <div class="col-lg-9">
                                <input class="form-control" asp-for="InTime" readonly>
                                <span asp-validation-for="InTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" asp-for="OutTime">Out-Time</label>
                            <div class="col-lg-9">
                                <input class="form-control" asp-for="OutTime" readonly>
                                <span asp-validation-for="OutTime" class="text-danger"></span>
                            </div>
                        </div>
                        <button class="btn btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Breaks Taken
                        </button>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label" asp-for="BreakIn">Break-In</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" asp-for="BreakIn" readonly>
                                        <span asp-validation-for="BreakIn" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label" asp-for="BreakOut">Break-Out</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" asp-for="BreakOut" readonly>
                                        <span asp-validation-for="BreakOut" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input class="btn btn-secondary" type="reset" value="Back">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


