@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

@model ProjectLogin.ViewModels.LoginViewModel

<div class="container col-md-offset-2">
    <div class="row">
        <div class="col">
            <div class="card justify-content-center">
                <div class="card-header text-center">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <form asp-action="Login" method="post">

                                <div class="form-group col">
                                    <label asp-for="Email">Email address</label>
                                    <input asp-for="Email" class="form-control" placeholder="Enter your email Id" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-group col">
                                    <label asp-for="Password">Password</label>
                                    <input asp-for="Password" class="form-control" placeholder="Enter your password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-group col">
                                    <input type="checkbox" asp-for="RememberMe" />
                                    <label asp-for="RememberMe">Remember Me</label>
                                </div>

                                <dnt-captcha asp-captcha-generator-max="999999"
                                             asp-captcha-generator-min="111111"
                                             asp-captcha-generator-language="English"
                                             asp-captcha-generator-display-mode="ShowDigits"
                                             asp-use-relative-urls="true"
                                             asp-placeholder="Enter Security code"
                                             asp-validation-error-message="Please enter the security code."
                                             asp-font-name="Tahoma"
                                             asp-font-size="20"
                                             asp-fore-color="#333333"
                                             asp-back-color="#ccc"
                                             asp-text-box-class="text-box form-control"
                                             asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span></span>{0}"
                                             asp-validation-message-class="text-danger"
                                             asp-refresh-button-class="fas fa-redo btn-sm"
                                             asp-use-noise="false" />

                                <div class="form-group col">
                                    <div class="d-grid gap-2 d-md-block">
                                        <input type="submit" class="btn btn-primary" value="Login" />
                                        <input type="reset" class="btn btn-danger" value="Cancel" />
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="col-md-10">
                        Doesn't have an account yet?<a asp-action="Register"> Register</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
}