<!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fas fa-home"></i></a></li>
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
  </ol> -->
  
<div class="row justify-content-center">
      <div class="col">
        <div class="card card-outline-secondary">
          <div class="card-header">
            <h3 class="mb-0">Manage Candidates</h3>
          </div>
          <div class="card-body">
              <table id="example" class="table table-sm table-responsive table-borderless text-center p-2" style="width:100%">
                  <thead>
                    <tr>
                      <th scope="col" width="6%">#</th>
                      <th scope="col" width="15%">Candidate Name</th>
                      <th scope="col" width="15%">Referral Name</th>
                      <th scope="col" width="15%">Designation</th>
                      <th scope="col" width="10%">Total Experience</th> 
                      <th scope="col" width="10%">Notice Period</th>
                      <th scope="col" width="15%">Details</th>
                      <th scope="col" width="15%">Action</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let candidate of candidates;index as i">
                    <tr>
                        <td>{{ i+1 }}</td>
                        <td>{{ candidate.name }}</td>
                        <td>{{ candidate.referralName }}</td>
                        <td>{{ candidate.designation }}</td>
                        <td>{{ candidate.totalExperience }}</td>
                        <td>{{ candidate.noticePeriod }}</td>
                        <td><div class="btn-group">
                          <button type="btn-sm" class="btn btn-sm" id="icons" routerLink="/main/manageCandidates/{{ candidate.id }}" (click)="openModal()"><i class="fas fa-eye"></i></button></div></td>
                        <td>
                          <div class="btn-group">
                            <button type="btn-sm" class="btn btn-sm" id="icons"><i class="fas fa-edit"></i></button>
                          <button type="btn-sm" class="btn btn-sm inline" id="icons"><i class="fas fa-trash-alt"></i></button>
                          </div>
                        </td>
                    </tr>
                  </tbody>
              </table>
          </div> 
          <div class="card-footer">
            <div class="float-left">
              <input class="btn btn-sm" id="buttons" type="reset" value="Back" routerLink="/main/HRDashboard"> 
            </div> 
            <div class="float-right">
              <div class="pagination">
                <ul class="pagination-2">
                  <li class="page-number prev"><a href="#">&laquo;</a></li>
                  <li class="page-number"><a href="#">1</a></li>
                  <li class="page-number active"><a href="#">2</a></li>
                  <li class="page-number"><a href="#">3</a></li>
                  <li class="page-number"><a href="#">4</a></li>
                  <li class="page-number"><a href="#">5</a></li>
                  <li class="page-number"><a href="#">6</a></li>
                  <li class="page-number"><a href="#">7</a></li>
                  <li class="page-number"><a href="#">8</a></li>
                  <li class="page-number"><a href="#">9</a></li>
                  <li class="page-number"><a href="#">10</a></li>
                  <li class="page-number prev"><a href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
        </div>
        </div><!-- /form user info -->
      </div>
  </div>
  
