@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
}

@model CustomerFeedBackFormMVC.ViewModels.FeedbackViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-3 p-2">
                <div class="card-header">
                    <h3 class="mb-0 text-center">Customer Satisfactory Feedback</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post" class="myform" id="myForm">

                        <h4 class="mb-0">Product Information</h4>
                        <hr />

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label form-control-label required" asp-for="CategoryId">Category</label>
                                <select asp-for="CategoryId" asp-items="@ViewBag.category" class="form-control" id="CategoryId">
                                    <option selected="" value="Select">--Select--</option>
                                </select>
                                @*<span asp-validation-for="CategoryId" class="text-danger"></span>*@
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label form-control-label required" asp-for="ProductId">Product</label>
                                <select asp-for="ProductId" asp-items="@ViewBag.products" class="form-control" id="ProductId">
                                    <option selected="" value="Select">--Select--</option>
                                </select>
                                @*<span asp-validation-for="ProductId" class="text-danger"></span>*@
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <p class="">
                                    Which of the following category have you purchased in the last 2 months.
                                    Please check all that apply.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input">
                                    <label class="form-check-label" for="check1">Air Conditioner</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input">
                                    <label class="form-check-label" for="check2">TV</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input">
                                    <label class="form-check-label" for="check3">Mobile</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <p class="required">Overall, how satisfied were you with product/service?</p>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="radio-inline">
                                    <input type="radio" asp-for="RatingId" name="RatingId" id="RatingId" value="1"> Very Satisfied
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" asp-for="RatingId" name="RatingId" id="RatingId" value="2"> Satisfied
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" asp-for="RatingId" name="RatingId" id="RatingId" value="3"> Neutral
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" asp-for="RatingId" name="RatingId" id="RatingId" value="4"> Unsatisfied
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" asp-for="RatingId" name="RatingId" id="RatingId" value="5"> Very Unsatisfied
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" asp-for="RatingId" name="RatingId" id="RatingId" value="6"> N/A
                                </label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <p class="required">What do you like about product/service?</p>
                            </div>
                            <div class="form-group col-md-6">
                                <textarea class="form-control" asp-for="Information" placeholder="" rows="2" id="Information"></textarea>
                                @*<span asp-validation-for="Information" class="text-danger"></span>*@
                            </div>
                        </div>

                        <h4 class="mb-0">User Information</h4>
                        <hr />

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label class="col-form-label form-control-label required" asp-for="Title">Title</label>
                                <input type="text" class="form-control" asp-for="Title" placeholder="" id="Title">
                                @*<span asp-validation-for="Title" class="text-danger"></span>*@
                            </div>
                            <div class="form-group col-md-8">
                                <label class="col-form-label form-control-label required" asp-for="Name">Name</label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="" id="Name">
                                @*<span asp-validation-for="Name" class="text-danger"></span>*@
                            </div>
                            <div class="form-group col-md-2">
                                <label class="col-form-label form-control-label required" asp-for="Initials">Initial</label>
                                <input type="text" class="form-control" asp-for="Initials" placeholder="" id="Initials">
                                @*<span asp-validation-for="Initials" class="text-danger"></span>*@
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label class="col-form-label form-control-label required" asp-for="EmailId">Email ID</label>
                            </div>
                            <div class="form-group col-md-10">
                                <input type="email" class="form-control form-control" asp-for="EmailId" placeholder="" id="EmailId">
                                @*<span asp-validation-for="EmailId" class="text-danger"></span>*@
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="StreetAddress1" class="col-form-label form-control-label required">Street Address1</label>
                                <textarea class="form-control" asp-for="StreetAddress1" placeholder="" rows="2" id="StreetAddress1"></textarea>
                                @*<span asp-validation-for="StreetAddress1" class="text-danger"></span>*@
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="StreetAddress2" class="col-form-label form-control-label">Street Address2</label>
                                <textarea class="form-control" asp-for="StreetAddress2" placeholder="" rows="2" id="StreetAddress2"></textarea>
                                @*<span asp-validation-for="StreetAddress2" class="text-danger"></span>*@
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="City" class="col-form-label form-control-label required">City</label>
                                <input type="text" class="form-control-file form-control" asp-for="City" id="City">
                                @*<span asp-validation-for="City" class="text-danger"></span>*@
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Region" class="col-form-label form-control-label required">Region</label>
                                <input type="text" class="form-control-file form-control" asp-for="Region" id="Region">
                                @*<span asp-validation-for="Region" class="text-danger"></span>*@
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="ZipCode" class="col-form-label form-control-label required">ZipCode/Postal</label>
                                <input type="number" class="form-control-file form-control" min="6" asp-for="ZipCode" id="ZipCode">
                                @*<span asp-validation-for="ZipCode" class="text-danger"></span>*@
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Country" class="col-form-label form-control-label required">Country</label>
                                <input type="text" class="form-control-file form-control" asp-for="Country" id="Country">
                                @*<span asp-validation-for="Country" class="text-danger"></span>*@
                            </div>
                        </div>

                        <div class="" id="unSatisfactoryPart">
                            <h4 class="mb-0">More About Unsatisfactory</h4>
                            <hr />

                            <div class="form-group">
                                <label asp-for="ReasonForUnsatisfactory" class="col-form-label form-control-label required">Reason for Unsatisfaction</label>
                                <textarea class="form-control" asp-for="ReasonForUnsatisfactory" placeholder="" rows="2" id="ReasonForUnsatisfactory"></textarea>
                                <span asp-validation-for="ReasonForUnsatisfactory" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="FileUpload" class="col-form-label form-control-label required">File Upload</label>
                            <input type="file" class="form-control-file" asp-for="FileUpload" id="FileUpload">
                            <span asp-validation-for="FileUpload" class="text-danger"></span>
                        </div>


                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <button class="btn btn-secondary" type="reset" onclick="ResetForm()">Reset</button>
                                <button class="btn btn-primary" type="submit" onclick="CreateFeedback()">Submit</button>
                                <button class="btn btn-primary" type="submit" onclick="GetFeedbackInfo()">Send Copy</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<style>
    .error {
        color: red;
        margin-left: 5px;
    }

    label.error {
        display: inline;
    }
</style>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script type="text/javascript">

    $(document).ready(function () {


        //Enabling or Disabling Unsatisfactory div part
        $('div#unSatisfactoryPart').hide();

        $("input[name=RatingId]").on("click", function () {
            var selectedValue = $("input[name=RatingId]:checked").val();

            //console.log(selectedValue);

            if ((selectedValue == 4) || (selectedValue == 5)) {
                $('div#unSatisfactoryPart').show();
            }
            else {
                $('#unSatisfactoryPart').hide();
            }


        });


        //Jquery validation
        $('#myForm').submit(function (e) {

            //Prevent Form from submitting
            e.preventDefault();

            var CategoryId = $('#CategoryId').val();
            var ProductId = $('#ProductId').val();
            var RatingId = $('#RatingId').val();
            var Information = $('#Information').val();
            var Title = $('#Title').val();
            var Name = $('#Name').val();
            var Initials = $('#Initials').val();
            var EmailId = $('#EmailId').val();
            var StreetAddress1 = $('#StreetAddress1').val();
            var StreetAddress2 = $('#StreetAddress2').val();
            var City = $('#City').val();
            var Region = $('#Region').val();
            var ZipCode = $('#ZipCode').val();
            var Country = $('#Country').val();
            var ReasonForUnsatisfactory = $('ReasonForUnsatisfactory').val();
            var FileUpload = $('FileUpload').val();

            console.log(CategoryId, ProductId, RatingId, Information, Title, Name, Initials, EmailId, StreetAddress1, StreetAddress2, City, Region, ZipCode, Country, ReasonForUnsatisfactory, FileUpload);

            $(".error").remove();

            if (CategoryId == "Select") {
                $('#CategoryId').after('<span class="error">This field is required</span>');
            }
            if (ProductId == "Select") {
                $('#ProductId').after('<span class="error">This field is required</span>');
            }
            if (RatingId == 0) {
                $('#RatingId').after('<span class="error">This field is required</span>');
            }
            if (Information.length < 1) {
                $('#Information').after('<span class="error">This field is required</span>');
            }
            if (Title.length < 1) {
                $('#Title').after('<span class="error">This field is required</span>');
            }
            if (Initials.length < 1) {
                $('#Initials').after('<span class="error">This field is required</span>');
            }
            if (Name.length < 1) {
                $('#Name').after('<span class="error">This field is required</span>');
            }
            if (EmailId.length < 1) {
                $('#EmailId').after('<span class="error">This field is required</span>');
            }
            else {
                var regEx = /\S+\S+\.\S+/
                var validEmail = regEx.test(EmailId);
                if (!validEmail) {
                    $('#EmailId').after('<span class="error">Enter a valid email</span>');
                }
            }
            if (StreetAddress1.length < 1) {
                $('#StreetAddress1').after('<span class="error">This field is required</span>');
            }
            if (StreetAddress2.length < 1) {
                $('#StreetAddress2').after('<span class="error">This field is required</span>');
            }
            if (City.length < 1) {
                $('#City').after('<span class="error">This field is required</span>');
            }
            if (Region.length < 1) {
                $('#Region').after('<span class="error">This field is required</span>');
            }
            if (ZipCode.length < 6) {
                $('#ZipCode').after('<span class="error">ZipCode must be length of 6 digits</span>');
            }
            if (Country.length < 1) {
                $('#Country').after('<span class="error">This field is required</span>');
            }
            //if (ReasonForUnsatisfactory.length < 1) {
            //    $('#ReasonForUnsatisfactory').after('<span class="error">This field is required</span>');
            //}
            //if (!FileUpload) {
            //    $('#FileUpload').after('<span class="error">This field is required</span>');
            //}

        });


    });

    //Resetting the Form
    function ResetForm() {
        document.getElementById("#myForm").reset();
    }

    //Feedback function
    function CreateFeedback() {

        class Feedback {
            constructor(categoryId, productId, ratingId, information, title, name, initials, emailId, streetAddress1, streetAddress2, city, region,
                zipCode, country, reasonForUnsatisfactory, fileUpload) {
                this.CategoryId = categoryId;
                this.ProductId = productId;
                this.RatingId = ratingId;
                this.Information = information;
                this.Title = title;
                this.Name = name;
                this.Initials = initials;
                this.EmailId = emailId;
                this.StreetAddress1 = streetAddress1;
                this.StreetAddress2 = streetAddress2;
                this.City = city;
                this.Region = region;
                this.ZipCode = zipCode;
                this.Country = country;
                this.ReasonForUnsatisfactory = reasonForUnsatisfactory;
                this.FileUpload = fileUpload;

            }
        }

        var feedbackDetails = new Feedback($("#CategoryId").val(), $("#ProductId").val(), $("#RatingId").val(), $("#Information").val(),
            $("#Title").val(), $("#Name").val(), $("#Initials").val(), $("#EmailId").val(), $("#StreetAddress1").val(), $("#StreetAddress2").val(),
            $("#City").val(), $("#Region").val(), $("#ZipCode").val(), $("#Country").val(), $("#ReasonForUnsatisfactory").val(), $("#FileUpload").val());

        //console.log(feedbackDetails);

        $.ajax({
            type: "POST",
            data: JSON.stringify(feedbackDetails),
            url: "https://localhost:44393/api/Feedback",
            dataType: "json",
            contentType: "application/json",
            success: function () {
                console.log("Submitted");
                GetFeedbackInfo();
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });


    }

    //Getting FedbackForm Info
    function GetFeedbackInfo() {
        $.ajax({
            url: 'https://localhost:44393/api/Feedback',
            type: "GET",
            dataType: "json",
            success: function (response) {
                sendMail(response);
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    //Sending Mail Response to User 
    function sendMail(data) {

        //console.log(JSON.stringify(data));
        //var obj = JSON.parse(data);

        var link = "mailto:data.EmailId"
            + "&subject=" + encodeURIComponent("Feedback Response")
            + "&body=" + encodeURIComponent(data);

        window.location.href = link;
    }

</script>


