<div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Add Rating <i class="fas fa-info-circle" 
            title="1-Below Satisfactory, 2-Satisfactory, 3-Good, 4-Very Good, 5-Excellant"></i></h3>
        </div>
        <div class="card-body">
          <form class="row g-3">

            <hr class="hr-text" data-content="Technical/Job Related">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Concept</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Technical</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Skill Set</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Analytical Skills</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Problem Solving</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Focused & Alert</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Others</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div>  

            <hr class="hr-text" data-content="Soft Skills"> 

            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Aptitude</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Leadership</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Initiative</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Willingness to Learn</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Attitude</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Listening Skills</label>
                    <input type="number" max="5" min="1"  class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Others</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 

            <hr class="hr-text" data-content="Communication">
            
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Written</label>
                    <input type="number" max="5" min="1"  class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Verbal</label>
                    <input type="number" max="5" min="1" class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 

            <hr class="hr-text" data-content="Documents">
            
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Upload Report</label>
                    <input type="file"  class="form-control form-control" id="inputPassword4">
                  </div>
            </div> 

            <hr class="hr-text" data-content="Review">

            <div class="col-md-6">
              <div class="form-group">
                  <label for="exampleFormControlSelect1">Pros</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>

            <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Cons</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Comments</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
            </div>

          </form>
        </div> 
        <div class="card-footer">
            <div class="float-right">
                <input class="btn btn-sm" id="buttons" type="reset" value="Cancel"> 
                <input class="btn btn-sm mx-3" id="buttons" type="button" value="Submit">
            </div> 
            <div class="float-left">
              <input class="btn btn-sm" id="buttons" type="reset" value="Back" routerLink="/main/InterviewerDashboard"> 
            </div>
        </div>
      </div><!-- /form user info -->
    </div>
</div>

