<div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Assign Interview</h3>
        </div>
        <div class="card-body">
          <form class="row g-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Candidate Name</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Shyam</option>
                      <option>Rahul</option>
                      <option>Kishore</option>
                    </select>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Interviewer Name</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Lakshmi</option>
                      <option>Rajini</option>
                      <option>Kamal</option>
                    </select>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Assessment Name</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Profile Screening</option>
                      <option>Telephonic Interview</option>
                      <option>Technical Telephonic Interview</option>
                      <option>Technical System Test</option>
                      <option>Technical F2F Interview</option>
                      <option>Final F2F</option>
                    </select>
                  </div>
            </div>
            <div class="col-md-3">
                <label for="inputPassword4" class="form-label">Date</label>
                <input type="date" class="form-control form-control" id="inputPassword4">
            </div>  
            <div class="col-md-3">
              <label for="inputPassword4" class="form-label">Time</label>
              <input type="time" class="form-control form-control" id="inputPassword4">
          </div>            
          </form>
        </div> 
        <div class="card-footer">
            <div class="float-left">
                <input class="btn btn-sm" id="buttons" type="reset" value="Save as draft">
                <input class="btn btn-sm mx-3" id="buttons" type="reset" value="Back" routerLink="/main/HRDashboard"> 
            </div>
            <div class="float-right">
                <input class="btn btn-sm" id="buttons" type="reset" value="Cancel"> 
                <input class="btn btn-sm mx-3" id="buttons" type="button" value="Submit">
            </div>
        </div>
      </div><!-- /form user info -->
    </div>
</div>

