<!-- <section>
      <div class="container">
        <div class="user signinBx">
          <div class="imgBx"><img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img1.jpg" alt="" /></div>
          <div class="formBx">
            <form action="" onsubmit="return false;">
              <h2>Sign In</h2>
              <input type="text" name="" placeholder="EmailID" />
              <input type="password" name="" placeholder="Password" />
              <a href="#" class="btn " [routerLink]="['main/HRDashboard']">Login</a>
              <p class="signup">
                Don't have an account ?
                <a href="#" onclick="toggleForm();">Sign Up.</a>
              </p>
            </form>
          </div>
        </div>
        <div class="user signupBx">
          <div class="formBx">
            <form action="" onsubmit="return false;">
              <h2>Create an account</h2>
              <input type="text" name="" placeholder="Username" />
              <input type="email" name="" placeholder="Email Address" />
              <input type="password" name="" placeholder="Create Password" />
              <input type="password" name="" placeholder="Confirm Password" />
              <input type="submit" name="" value="Sign Up" />
              <p class="signup">
                Already have an account ?
                <a href="#" onclick="toggleForm();">Sign in.</a>
              </p>
            </form>
          </div>
          <div class="imgBx"><img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img2.jpg" alt="" /></div>
        </div>
      </div>
</section> -->
<!-- <div class="wrapper" id="myApp">
  <nav id="sidebar">
      <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="./../assets/images/rose.jpg">
          </div>
          <div class="user-info">
            <span class="user-name">John Paul</span><br>
            <span class="user-role">HR/Interviewer </span><br>
            <span class="user-role">o Online </span>
          </div>
      </div> 

      <hr/>

      <ul class="list-styled components">
          <li class="">
              <a href="#" class="" routerLink="/main/HRDashboard">Dashboard</a>                
          </li>
          
          <li data-toggle="collapse" data-target="#service" class="collapsed">
            <a href="#">Assessments</a>
          </li>  
          <ul class="sub-menu collapse" id="service">
            <li>
              <a href="#" class="" routerLink="/main/profileScreening">Profile screening</a>
            </li> 
            <li>
              <a href="#" class="" routerLink="/main/telephonicInterview">Initial Telephonic Interview</a>
            </li>
            <li>
              <a href="#" class="" routerLink="/main/technicalTelephonicInterview">Technical Telephonic Interview</a>
            </li>
            <li>
              <a href="#" class="" routerLink="/main/technicalSystemTest">Technical System Test</a>
            </li>
            <li>
              <a href="#" class="" routerLink="/main/technicalF2FInterview">Technical F2F Interview</a>
            </li>
            <li>
              <a href="#" class="" routerLink="/main/finalF2F">Final F2F</a>
            </li>
          </ul>

          <li>
              <a href="#">Documents</a>
          </li>
          <li>
              <a href="#">Surveys</a>
          </li>
          <li>
              <a href="#">Performance</a>
          </li>
          <li>
              <a href="#">Reporting</a>
          </li>           
      </ul>
  </nav>

  <div id="content">

      <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">

              <button onclick="ToggleSidebar()" type="button" id="sidebarCollapse" class="btn btn-sm">
                  <i class="fas fa-bars"></i>
              </button>
              
              <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-align-justify"></i>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link active" onclick="openFullscreen()" aria-current="page" id="icons" type="button" href="#"><i class="fas fa-expand"></i></a>
                        </li>                       
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" id="icons" type="button" href="#"><i class="fas fa-user"></i></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" id="icons"><i class="fas fa-bell"></i></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" tabindex="-1" id="icons" aria-disabled="true"><i class="fas fa-cog"></i></a>
                        </li>
                  </ul>
              </div>
          </div>
      </nav>
      
      <router-outlet></router-outlet>

  </div>

</div>  -->
<router-outlet></router-outlet>

